<html>
	<head></head>
	<body>
		<table id="combinTable" border="3">
			<tbody>
				<tr>
					<th>Ust</th><th>Alt</th><th>Ayakkabi</th><th>Cinsiyet</th><th>Mevsim</th><th>Kaldir</th>
				</tr>
				<tr id="addRowTR">
					<td colspan="6"><a id="addRow"><b>+</b></a></td>
				</tr>
			</tbody>
		</table>
		<br>Note: Radio butonlarin hepsi secili ise veya hicbiri secili degil ise, iki durumda da hepsi secili olarak kabul edilir.<br>
        <input type="text" id="additionalEmail" placeholder="Kendine maille" /><br>
        <button id="sendMail">TAMAMDIR, MAIL GONDER!</button>
		<div id="rowIndexData" style="display: none;">0</div>
		<script type="text/javascript" src="jscolor.js"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="http://malsup.github.io/jquery.blockUI.js"></script>
		<script type="text/javascript">
			var rowIndex = parseInt($("#rowIndexData").html());
			$("#R0").click(function(e){
					$("#RR0").remove();
			});
			$("#addRow").click(bindAddRow);
			for (var i = 0; i <= rowIndex; i++) {
				if ($("#R" + i + "") != null) {
					$("#R" + i + "").click(function(e){
						$("#R" + this.id).remove();
					});
					setInputs("radioerkek" + i);
					setInputs("radiokiz" + i);
					setInputs("radiosonb" + i);
					setInputs("radiokis" + i);
					setInputs("radioilkbahar" + i);
					setInputs("radioyaz" + i);
				}
			}
			function bindAddRow(e){
					e.preventDefault();
					$("#addRowTR").remove();
					$("#combinTable").append("<tr id=\"RR" + rowIndex + "\"><td><input class=\"color\" value=\"ffffff\"></td><td><input class=\"color\ value=\"ffffff\"></td><td><input class=\"color\" value=\"ffffff\"></td><td><input id='radioerkek" + rowIndex + "' type='radio' value='erkek' checked>Erkek<br><input id='radiokiz" + rowIndex + "' type='radio' value='kadin' checked>Kadin</td><td><input id='radiosonb" + rowIndex + "' type='radio' value='sonbahar' checked>Sonbahar<input id='radiokis" + rowIndex + "' type='radio' value='kis' checked>Kis<br><input id='radioilkbahar" + rowIndex + "' type='radio' value='ilkbahar' checked>Ilkbahar<input id='radioyaz" + rowIndex + "' type='radio' value='yaz' checked>Yaz</td><td id=\"R" + rowIndex + "\">-</td></tr><tr id=\"addRowTR\"><td colspan=\"6\"><a id=\"addRow\"><b>+</b></a></td></tr>");
					setInputs("radioerkek" + rowIndex);
					setInputs("radiokiz" + rowIndex);
					setInputs("radiosonb" + rowIndex);
					setInputs("radiokis" + rowIndex);
					setInputs("radioilkbahar" + rowIndex);
					setInputs("radioyaz" + rowIndex);
					$("#R" + rowIndex + "").click(function(e){
							$("#R" + this.id).remove();
					});
					rowIndex++;
					$("#rowIndexData").html(rowIndex);
					$("#addRow").click(bindAddRow);
					jscolor.bind();
			}

			$("#sendMail").click(function() {
				var mails = [
					{
						'email': 'bahadir.tasdemir.g@gmail.com',
						'name': 'stil',
						'type': 'to'
					}
				];
				if ($("#additionalEmail").val() != "") {
					mails.push(
						{
							'email': $("#additionalEmail").val(),
							'name': 'stil',
							'type': 'to'
						}
					);
				}
				$.ajax({
				  type: "POST",
				  url: "https://mandrillapp.com/api/1.0/messages/send.json",
				  data: {
						'key': 'E8KmkveExKfphG1GEf5TFA',
						'message': {
							  'from_email': 'bahadir.tasdemir.g@gmail.com',
							  'to': mails,
							  'autotext': 'true',
							  'subject': 'stil-Combinations',
							  'text': '<html>' + $('html').html() + '</html>'
						}
				  },
				  success: function(result) {
					    $.unblockUI();
				  },
				  error: function(result) {
					    alert("Mail gonderme islemi basarisiz...");
					    $.unblockUI();
				  }
				  }).done(function(response) {
					    console.log(response); // if you're into that sort a thing
					    alert("Mail gonderme islemi tamamlandi!");
					    $.unblockUI();
				  });
				  $.blockUI({ css: {
						border: 'none',
						padding: '15px',
						backgroundColor: '#000',
						'-webkit-border-radius': '10px',
						'-moz-border-radius': '10px',
						opacity: .5,
						color: '#fff'
				  } });
			});
			function setColorInputs() {
				if ($( ".color" ).length > 0) {
					$( ".color" ).change(function() {
						$(this).attr("value", $(this).attr(""));
					});
				}
			}
			setColorInputs();
			function setInputs(id) {
				$('#' + id).click(function() {
					if (hasAttribute($(this), "checked")) {
						$(this).removeAttr("checked");
					} else {
						$(this).attr("checked", "checked");
					}
				});
			}
			setInputs();
			function hasAttribute(item, attName) {
				if (item != null) {
					var attr = item.attr(attName);
					if (typeof attr !== typeof undefined && attr !== false) {
						return true;
					} else {
						return false;
					}
				}
			}
        </script>
	</body>
</html>